/* styles.css */
*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a00000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

nav li {
    margin: 0 10px;
}

nav li a{
    color: beige;
    text-decoration: none;
}

nav li a:hover{
    color: #ff7878;
    text-decoration: none;
    background-color: #000000;
    padding: 15px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}


.logo{
    padding: 0 15px;
}
.logo img{
    width: 95px;
    height: auto;
}

.iconos {
    display: flex;
    
}

.iconos a {
    margin: 0 10px;
    color: #000000;
    font-size: 18px;
}
.iconos a:hover {
   
    color: #ffb8b8;
    
}


/* aquì se implementan los estilos css para la seccion uno*/

.principal {
    background-image: url('../imagen/3D_04.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidouno {
    width: 100%;
    height: 500px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    
}

.contenidouno h1{
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(32, 6, 80);
    color: #d42828;
    margin-top: 200px;
    margin-bottom: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

.contenidouno h2{
    text-shadow: 2px 2px 5px rgb(32, 6, 80);
    letter-spacing: -3px;
    color: #ffcc40;
    font-size: 40px;
    margin-bottom: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}

.contenidouno p{
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(32, 6, 80);
    margin-bottom: 30px;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}

.buttons {
    display: flex;
    justify-content:center;
    margin-top: 50px;

}

.button {
    
    background-color: #a40000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 4px solid #ffcc40;
    font-size: 16px;
    margin: 0 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.button:hover {
    background-color: #ffc400;
    color: #2b0142;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 0 30px;
    border: 6px unset #a40000;
}


/*estilos para el contenido dos*/

.banner {
    background-image: url('../imagen/IA03.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidodos {
    width: 100%;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: rgba(0, 0, 0, 0.8);
}

.contenidodos h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(32, 6, 80);
    color: #a40000;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


.figuras {
    display: flex;
    justify-content: center;
}

.figuras a {
    margin: 0 10px;
    color: #faf7f7;
    font-size: 18px;
}
.figuras a:hover {
   
    color: #f3e306;
    
}




/*creando la seccion 03 del contenido de la pagina*/

  .galeria {
    background-color: #000000;
    padding: 50px 0;
    border-radius: 5px;

   
    }

  .galeria h2 {
    
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
    color: #a40000;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   
   
  }

  .galeria p {
    color: #cde1ff;
    text-align: center;
    font-size: 14px;
    line-height:5px ;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

  }

  .contenidotres {
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  .contenidotres .columna {
    flex: 1;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
  }

  .contenidotres .columna img {
    max-width: 100%;
    height: auto;
    border: 2px solid #04416a;
    padding: 5px;
    border-radius: 4px;
    
  }

  .contenidotres .columna p {
    margin-top: 20px;
    text-align: justify;
    line-height: 20px;
  }

  .contenidotres .columna a {
    display: inline-block;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a00d0d;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-top: 20px;
    border: 5px solid #ffd240;
  }

  .contenidotres .columna a:hover {
    background-color: #f3e306;
    color: #2b0142;
    border: 6px unset ;
  }

  .columna p {
    color: #ffc6c6;
    font-size: 16px;
}
  
  /*creando el Footer - pie de pagina final de
  la pagina*/
  
  .footer {
    background-color: #730000;
    color: #fff;
    padding: 20px;
    
  }
  
  .filas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  h3, p {
    color: #fff4d2;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  h3 {
    text-transform: uppercase;
    color: #ffc037;
  }
  .social-icons1 {
    display: flex;
  }
  
  h4 {
    color: #ffffff;
    letter-spacing: -1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
   
  }


  /* Aquí puedes agregar tu CSS */
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffc037; /* Cambia esto según el color que desees para el hover */
}
  

  